.App {
  font-family: "Noto Sans JP", sans-serif;
}
.sidenav {
  height: 100%;
  width: 160px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  overflow-x: hidden;
  padding-top: 20px;
  border-right: 1px solid black;
}

.twitterBird{
  margin-left: 100px
}
.twitterBird:hover {
  animation: rotate-center 0.6s ease-in-out both;

}

@keyframes rotate-center {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}
a{
  text-decoration: none;
}
.FormBlock {
  display: flex;
  justify-content: center;
  position: fixed sticky;
  width: 100%;
  font-family: "Noto Sans JP", sans-serif;
}
img {
  width: 50px;
  margin: 10px;
}

h1.homeLink {
  margin-left: 250px;
  text-decoration: none;
  color: black;
}

.seeTweets{
  height: 40px;
  display: block;
text-align: center;
margin: 0;
margin-top: 20px;
color:rgb(109, 194, 248);
font-size: small;
}
.person::placeholder {
  font-weight: 800;
  font-size: 18px;
}
.TheTweet {
  height: 100px;
  width: 200px;
  word-wrap: break-word;
}
.person,
.TheTweet,
.image {
  display: flex;
  flex-direction: column;
  border: transparent;
  font-size: 24px;
  background-color: white;
  font-family: "Noto Sans JP", sans-serif;
  outline: none;
  width: 100%;
}
.person {
  font-size: 18px;
  color: black;
  font-weight: 800;
}
.form {
  width: 500px;
  border: solid 1px rgba(0, 0, 0, 0.4);
  padding: 5px;
}
.buttonDiv {
  display: flex;
  justify-content: space-between;
}

.TweetButton {
  background-color: rgb(109, 194, 248); /* Green */
  border: none;
  color: white;
  padding: 10px 24px;
  text-align: center;
  font-size: 16px;
  border-radius: 40px;
  font-family: "Noto Sans JP", sans-serif;
  font-weight: 700;
}
.TweetButton:focus {
  animation: flip-horizontal-bottom 0.4s cubic-bezier(0.455, 0.03, 0.515, 0.955)
    both;
  animation-duration: 1s;
}

@keyframes flip-horizontal-bottom {
  0% {
    transform: rotateX(0);
  }
  50% {
    transform: rotateX(-180deg);
  }
  50% {
    transform: rotateX(180deg);
  }
}

.tweetCardList {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
}
.tweet-card {
  width: 500px;
  border: solid 1px rgba(0, 0, 0, 0.4);
  border-top: solid .5px black;
  padding: 5px;
}
h1.tweetName {
  margin: 0;
  height: 50px;
}
.tweetImage {
  position:relative;
  width: 80%;
  display: block;
  margin: 0 auto;
  border-radius: 15px;;
}
div.tweet{
  display: flex;
  justify-content: flex-start;
}
.tweetTitle{
  display: flex;
    font-size: 18px;
    background-color: white;
    outline: none;
    width: 100%;
}