* {
}
.App {
  font-family: "Noto Sans JP", sans-serif;
}

textarea {
  resize: none;
}
.nav{
  display: flex;
}
.twitterBird {
  margin-left: 100px;
}
.twitterBird:hover {
  animation: rotate-center 0.6s ease-in-out both;
}

@keyframes rotate-center {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}
a {
  text-decoration: none;
}
.FormBlock {
  display: flex;
  justify-content: center;
  position: fixed sticky;
  width: 100%;
  font-family: "Noto Sans JP", sans-serif;
}
img {
  width: 50px;
  margin: 10px;
}

h1.homeLink {
  text-decoration: none;
  color: black;
}

.tweetCardPerson {
  text-decoration: none;
  color: black;
}
.tweetCardTitle {
  font-weight: 300;
  font-size: 15px;
  color: black;
}
.seeTweets,
.replyingTo,
.footer {
  height: 40px;
  display: block;
  text-align: center;
  margin: 0;
  margin-top: 20px;
  color: rgb(109, 194, 248);
  font-size: small;
}
.person::placeholder {
  font-weight: 800;
  font-size: 18px;
}
.TheTweet {
  height: 100px;
  width: 200px;
  word-wrap: break-word;
  font-size: 24px;
}
.image {
  font-size: 14px;
  background-color: transparent;
}
.person,
.TheTweet,
.image {
  display: flex;
  flex-direction: column;
  border: transparent;
  font-family: "Noto Sans JP", sans-serif;
  outline: none;
  width: 100%;
}
.person {
  font-size: 18px;
  color: black;
  font-weight: 800;
  background-color: transparent;
}
.form {
  width: 500px;
  border: solid 1px rgba(0, 0, 0, 0.4);
  padding: 5px;
}
.buttonDiv {
  display: flex;
  justify-content: flex-end;
}
.tweetCharCount {
  color: black;
  margin-right: 10px;
}
textarea {
  background-color: transparent;
}
.TweetButton {
  background-color: white;
  border: none;
  color: black;
  padding: 10px 24px;
  text-align: center;
  font-size: 16px;
  border-radius: 40px;
  font-family: "Noto Sans JP", sans-serif;
  font-weight: 700;
  border: 1px solid black;
}
.TweetButton:focus {
  animation: flip-horizontal-bottom 0.4s cubic-bezier(0.455, 0.03, 0.515, 0.955)
    both;
  animation-duration: 1s;
}

@keyframes flip-horizontal-bottom {
  0% {
    transform: rotateX(0);
  }
  50% {
    transform: rotateX(-180deg);
  }
  50% {
    transform: rotateX(180deg);
  }
}
.tweet-card:hover {
  background-color: rgba(148, 148, 148, 0.133);
  cursor: pointer;
}

.tweetCardList,
.returnSection {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
}
.tweet-card,
.commentDivs {
  width: 500px;
  border: solid 1px rgba(0, 0, 0, 0.4);
  border-top: solid 0.5px black;
  padding: 5px;
}

h1.tweetName {
  margin: 0;
  height: 50px;
}
.tweetImage {
  position: relative;
  width: 80%;
  display: block;
  margin: 0 auto;
  border-radius: 15px;
  margin-bottom: 50px;
}
div.tweet {
  display: flex;
  justify-content: flex-start;
}

.footer {
  color: black;
}
.tweetTitle {
  font-weight: 400;
}
