.updateFormSection{
    display: flex;
    justify-content: center;
    border-top: transparent;
    padding: 5px;
    margin: 0 auto;
}

.updateForm{
    flex-direction: column;
    width: 510px;
    border: .5px solid black;
    height: 100px;
}
.updateImage, .updateTweet, .updateName{
    flex-direction: column;
    width: 500px
}

.updateName,
.updateImage,
.updateTweet {
  border: transparent;
  background-color: transparent;
  outline: none;
  width: 100%;
}
.updateButton {
  background-color: rgb(109, 194, 248);
  border: none;
  color: white;
  padding: 10px 24px;
  text-align: center;
  font-size: 16px;
  border-radius: 40px;
  font-family: "Noto Sans JP", sans-serif;
  font-weight: 700;
}
.updateFormCounter{
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin: 5px;
  height: 50px;
  margin-top: -50px;
}
@media only screen and (max-width: 600px) {
  .updateForm{
    width: 410px;
  }
  .CommentButton, .updateButton, .TweetButton {
    padding: 5px 10px
  }
  .buttonDiv{
    height: 40px
  }
}

@media only screen and (max-width: 450px) {
}